@charset "UTF-8";
/* CSS Document */
body, p, ul, ol, dl, dd, h1, h2, h3, h4, h5, h6, td, input, select, textarea, figure { margin: 0; padding: 0; }

html, body { height: 100%; }

html { font-size: 26.67vw; }

body { font-family: "微软雅黑",Arial; display: flex; flex-direction: column; }

ul, ol { list-style: none; }

a { text-decoration: none; }

li { list-style: none; }

img { border: none; display: block; }

span { display: block; }

header { width: 100%; height: 3.05rem; }

header .header-top { width: 100%; height: .33rem; display: flex; background: url("../img/topbg.png") repeat-x; }

header .header-top h3 { font-size: .16rem; color: white; display: flex; width: .97rem; align-items: center; }

header .header-top h3 img { width: .27rem; height: .16rem; margin-left: .14rem; margin-right: .11rem; }

header .header-top .nav { display: flex; flex: 1; overflow-x: auto; align-items: center; }

header .header-top .nav a { color: #ccc4c5; font-size: .16rem; flex-shrink: 0; padding: 0 .11rem; }

header .header-down { display: flex; background: url("../img/downbg.png") repeat-x; }

header .header-down .search { width: 2.65rem; height: .3rem; background: rgba(0, 0, 0, 0.5); font-size: 12px; color: #b5adae; border-radius: .15rem; display: flex; align-items: center; margin: 0 .13rem; }

header .header-down .search span:nth-child(1) { margin-left: .5rem; margin-right: .4rem; }

header .header-down .search img:nth-child(2) { width: 1px; height: .12rem; margin-right: .12rem; }

header .header-down .search span:nth-child(3) { font-size: 14px; color: white; }

header .header-down .info { width: .3rem; height: .3rem; background: rgba(0, 0, 0, 0.5); border-radius: 50%; display: flex; justify-content: center; align-items: center; color: white; }

header .header-down .info span { font-size: 14px; }

header .header-down .info:last-child { margin-left: .08rem; }

header .banner .swiper-container { width: 100%; }

header .menu { display: flex; }

header .menu a { flex: 1; text-align: center; }

header .menu a img { width: .53rem; height: .55rem; margin: 0 auto .07rem; }

header .menu a span { color: #787878; font-size: 10px; }

section { flex: 1; overflow-y: auto; overflow-x: hidden; }

section .watch .tit { display: flex; justify-content: space-between; height: .45rem; align-items: center; }

section .watch .tit h3 { color: #141414; font-size: .16rem; padding-left: .12rem; }

section .watch .tit .more { color: #9c9c9c; font-size: 12px; padding-right: .17rem; }

section .watch .content { display: flex; width: 100%; overflow-x: auto; }

section .watch .content a { margin-right: .03rem; }

section .watch .content a img { width: 1.4rem; height: .79rem; }

section .watch .content a span { padding-left: .08rem; }

section .watch .content a span:nth-child(2) { color: black; font-size: 14px; line-height: 14px; margin-top: .1rem; margin-bottom: .05rem; width: 1.2rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

section .watch .content a span:nth-child(3) { color: #747474; font-size: 12px; }

section .hot { padding-top: .18rem; }

section .hot .list { display: flex; flex-wrap: wrap; justify-content: space-between; }

section .hot .list a { margin-bottom: .21rem; }

section .hot .list a img { width: 1.86rem; height: 1.05rem; }

section .hot .list a span { padding-left: .08rem; }

section .hot .list a span:nth-child(2) { color: black; font-size: 14px; line-height: 14px; margin-top: .1rem; margin-bottom: .05rem; width: 1.2rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

section .hot .list a span:nth-child(3) { color: #747474; font-size: 12px; }

footer { width: 100%; height: .5rem; border-top: 1px solid #b2b2b2; display: flex; align-items: center; }

footer a { flex: 1; text-align: center; }

footer a img { width: .25rem; height: .2rem; margin: 0 auto; }

footer a span { font-size: 10px; color: #666666; padding-top: .05rem; }
